body {
  text-align: center;
  background-image: url("https://cdn.pixabay.com/photo/2020/02/21/17/23/sky-4868218_1280.jpg");
  background-size: cover;
}

#container {
  color: white;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

#container > div {
  margin-top: 40px;
}

#container > div:first-child {
  margin-right: 50px;
}

#nextcontainer {
  color: rgb(179, 118, 5);
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
  font-family: sans-serif;
  border-radius: 10px;
}

#nextcontainer > div {
  height: 310px;
  width: 100%;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: auto;
}

#nextcontainer > div:nth-child(even) {
  background-color: rgb(182, 241, 213);
}

#nextcontainer > div:nth-child(odd) {
  background-color: rgb(121, 238, 183);
}

#name1 {
  font-size: 25px;
  color: blue;
}

#div1 {
  width: 250px;
  height: 300px;
  padding: 25px;
  border-radius: 5px;
  background-color:rgba(255, 255, 255, 0.7);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: left;
}